{% extends "index_base.html" %} 
{% comment %} {% load static%}  {% endcomment %}
{% block title %}SOLUSERV{% endblock %} 
{% block description %}We are your outsource African agricultural technology company that focuses on cultivating large scale farms on behalf of organizations and individuals. We use mordern technology and work with existing farmers. Our business model ensures we work with professional outgrowers to build capacity and expand their farms while we grow for you in Africa.{% endblock %}

{% block content %}

        <main id="main">
            <div class="breadcrumbs d-flex align-items-center">
                <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

                    <h2>About</h2>
                    <ol>
                        <li><a href="index.html">Home</a></li>
                        <li>Corporate Structure</li>
                    </ol>

                </div>
            </div>
            <section id="structure" class="structure">
                <div class="container">
                    <div class="section-header">
                        <h2>Our Corporate Structure</h2>
                        <p class="small">SOLUSERV (GH) LTD CURRENT ORGANOGRAM</p>
                    </div>
                    <div class="text-right">
                        <img src="/static/images/structure.png" alt="" class="img-fluid">
                    </div>

                </div>
            </section>
        </main>

    {% endblock %}