{% extends "index_base.html" %} 
{% comment %} {% load static%}  {% endcomment %}
{% block title %}SOLUSERV{% endblock %} 
{% block description %}We are your outsource African agricultural technology company that focuses on cultivating large scale farms on behalf of organizations and individuals. We use mordern technology and work with existing farmers. Our business model ensures we work with professional outgrowers to build capacity and expand their farms while we grow for you in Africa.{% endblock %}

{% block content %}

        <main id="main">
            <div class="breadcrumbs d-flex align-items-center">
                <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

                    <h2>Services</h2>
                    <ol>
                        <li><a href="index.html">Home</a></li>
                        <li>Services</li>
                        <li>Oilfield Services</li>
                    </ol>

                </div>
            </div>

            <!-- ======= Services Section ======= -->
            <section id="service-details" class="service-details">
                <div class="container" data-aos="fade-up" data-aos-delay="100">
                    <div class="hor-nav mb-4">
                        <ul class="nav nav-pills mb-3 justify-content-center align-items-center" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="pills-well-construction-tab" data-toggle="pill" data-target="#pills-well-construction" type="button" role="tab" aria-controls="pills-well-construction" aria-selected="true"> Well Construction</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="pills-wasteSol-tab" data-toggle="pill" data-target="#pills-wasteSol" type="button" role="tab" aria-controls="pills-wasteSol" aria-selected="false">Drilling Waste & Environmental solution</a>
                            </li>
                        </ul>
                        <p class="text-center py-4">The provision of oilfield tools rental; Slickline and E-line services; welding, fabrication and inspection services form part of the company’s future plans. SOLUSERV (GH) LIMITED has acquired acreage (4.58acres) at Shama, in the vicinity of Takoradi for this purpose.</p>
                    </div>

                    <div class="hor-content">
                        <div class="tab-content pl-0 pl-md-5" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-well-construction" role="tabpanel" aria-labelledby="pills-drilling-tab">
                                <div class="row">
                                    <div class="col-12 col-md-6 mb-5">
                                        <div class="d-flex flex-column text-center profile">
                                            <div class="client-logo mb-3">
                                                <img src="/static/images/of-1.jpg" alt="" class="img-fluid" style="width: 125px;">
                                            </div>
                                            <div class="content">
                                                <h3>DOWNHOLE PRODUCTS LTD</h3>
                                                <p>Market leader in Downhole Products designs, manufactures and supplies a range of casing accessories, completion tools, including centralizers, reamer guide shoes and cable clamp protectors. DHP Ltd is based in Aberdeen, Scotland. For more information, please visit their <a href="http://www.downhole.org/">website</a>.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mb-5">
                                        <div class="d-flex flex-column text-center profile">
                                            <div class="client-logo mb-3">
                                                <img src="/static/images/of-2.png" alt="" class="img-fluid" style="width: 320px;">
                                            </div>
                                            <div class="content">
                                                <h3>TAM INTERNATIONAL NORTH SEA LTD</h3>
                                                <p>SOLUSERV (GH) LIMITED has an agreement with TAM for provisions of Casing Inflatable Packers, FREECAP Swellable Packers, TRIPSaver Riser test Packers, Expandable Casing Packers, Casing Running and Filling tools and other similar products. TAM is based in Aberdeen, Scotland. For more information please visit their <a href="http://www.tamintl.com/">website</a>:</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mb-5">
                                        <div class="d-flex flex-column text-center profile">
                                            <div class="client-logo mb-3">
                                                <img src="/static/images/of-3.png" alt="" class="img-fluid" style="width:150px;">
                                            </div>
                                            <div class="content">
                                                <h3>VAREL EUROPE S.A.S</h3>
                                                <p>In collaboration with Varel Europe SAS , SOLUSERV (GH) LIMITED supplies drill bits and drilling optimization support services. Varel is based in Pau , France. To read more, please visit their <a href=" http://www.varelintl.com/">website</a>:</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mb-5">
                                        <div class="d-flex flex-column text-center profile">
                                            <div class="client-logo mb-3">
                                                <img src="/static/images/of-4.jpg" alt="" class="img-fluid" style="width: 150px;">
                                            </div>
                                            <div class="content">
                                                <h3>OMEGA COMPLETION TECHNOLOGY LTD.</h3>
                                                <p>SOLUSERV (GH) LIMITED has an agreement with Omega Completions Technology Ltd for provision of comprehensive range of downhole products including highly advanced electronically controlled equipment like Pressure Cycle plug, Dual Equalizing Sub, Drift Junk catcher Hydrostatic Support Valve, Time Delay Equalizing Valve, Dual Cycle Equalizing Valve, etc. They are based in Aberdeen, Scotland. Please visit their <a
                                                        href="http://www.omega-completion.com/">website</a>
                                                    for further information</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mb-5">
                                        <div class="d-flex flex-column text-center profile">
                                            <div class="client-logo mb-3">
                                                <img src="/static/images/of-5.jpg" alt="" class="img-fluid" style="width: 300px;">
                                            </div>
                                            <div class="content">
                                                <h3>WWT INTERNATIONAL</h3>
                                                <p>Provision of non-rotating protectors (NRP) for the reduction of rotating torque and drag, casing and riser protection during directional, extended reach, side tracking and deep-water drilling operations. Please visit their <a href=" http://www.wwtinternational .com/">website</a>for further information</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mb-5">
                                        <div class="d-flex flex-column text-center profile">
                                            <div class="client-logo mb-3">
                                                <img src="/static/images/of-6.jpg" alt="" class="img-fluid" style="width: 250px;">
                                            </div>
                                            <div class="content">
                                                <h3>HUNTING INTERNATIONAL.</h3>
                                                <p> Hunting Energy Services -for Well Intervention Services. This is a range of services for Equipment Manufacturing and supply for Down Hole Intervention in producing wells for logging, and with product lines in the following areas: Pressure Control Equipment
                                                    Slickline, Wireline/ E-Line, Thru-Tubing, Subsea Support Services. Please visit their <a href=" http://www.hunting-intl.com"> website</a>for further information</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="pills-wasteSol" role="tabpanel" aria-labelledby="pills-wasteSol-tab">
                                <div class="d-flex mb-5 flex-column text-center profile">
                                    <div class="client-logo mb-3">
                                        <img src="/static/images/of-7.jpg" alt="" class="img-fluid" style="width: 125px;">
                                    </div>
                                    <div class="content">
                                        <h3>TWMA</h3>
                                        <p>SOLUSERV (GH) LIMITED has a collaboration agreement with TWMA for the processing of drill cuttings and other hydrocarbon contaminated wasted generated from onshore/offshore drilling operations. Also our specialist solutions provides a range of innovative methods for the efficient collection, Transfer, Treatment and reduction of drill cuttings, Slops, Sludges and associated materials onshore/offshore, Allowing the operators to honour both ambitious
                                            operational target and environmental responsibilities .TWMA is based in Aberdeen, Scotland. <a href="http://www.twma.co.uk/"> website</a>.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </section><!-- End Services Section -->

        </main>

{% endblock %}